<!-- {{dashboard.grow}} -->
<!-- <div ng-repeat='grow in dashboard.grow'>
  <ol>
    <li>{{grow.analogmoisture}}</li>
    <li>{{grow.digmoisture}}</li>
  </ol>
</div> -->
  <!-- <p>{{view.plants.name}}</p> -->
<div class="container-fluid">
  <div class="row">
     <div id='dashSideBar'class="col-sm-3 col-md-2 sidebar">
       <label for="vegetables">Choose Veggies to Grow:</label>
       <select name="vegetables" id=""ng-model='growveg'>
         <option value="">Basil</option>
         <option value="">Celery</option>
         <option value="">Chives</option>
       </select>
       <div>{{growveg}}</div>
       <label for="growdata">Search grow Data:</label>
       <input name='growdata'type="text" ng-model=''>
       <div ng-repeat="plant in dashboard.plants">
       <h2>{{plant.name}}</h2>
        <h5>Sun Exposure: {{plant.sunExposure}}</h3>
        <h5>Water Requirements: {{plant.waterRequirements}}</h3>
        <!-- <h5>Temperature Range: {{plant.tempRange}}</h3>
        <h5>Humidity Levels: {{plant.humidityLevels}}</h3> -->
        </div>

    </div>

        <div id='mainDash'class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Your Dashboard</h1>
          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
                <div class='stoplightbox' ng-class='{yellow: camera.onSale === true, red: camera.onSale === true, green: camera.onSale === true, sale: camera.onSale === true}'></div>
              <h4>Temperature</h4>
              <span class="levels" ng-class='{low: camera.onSale === true, high: camera.onSale === true}'>Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <div class='stoplightbox'></div>
              <h4>Moisture</h4>
              <span class="levels" ng-class='{low: camera.onSale === true, high: camera.onSale === true}'>Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <div class='stoplightbox'></div>
              <h4>Sunlight</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <div class='stoplightbox'></div>
              <h4>Humidity</h4>
              <span class="text-muted">Something else</span>
            </div>
          </div>
          <h2 class="sub-header">Last Week's Data</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Moisture</th>
                  <th>Temperature</th>
                  <th>Humidity</th>
                  <th>Sunlight</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in dashboard.grow">
                  <td>{{item.analogmoisture}}</td>
                  <td>{{item.temperature}}</td>
                  <td>{{item.humidity}}</td>
                  <td>{{item.sunlight}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
