// font-family: 'Raleway', sans-serif;
// font-family: 'Noto Sans', sans-serif;
// font-family: 'Londrina Outline', cursive;
// font-family: 'Questrial', sans-serif;

// body {
//   background-image: url(../public/images/potted-herbs.jpg);
// }

#sproutomatic {
  display: inline-block;
  font-size: 30px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}
ul {  float: right;
  li {
    display: inline-block;
    float: left;
    color: black;
    font-family: 'Raleway', sans-serif;
  }
}
.main-container {
  text-align: center;
  h1 {
    font-family: 'Baloo Tamma', cursive;
  }
  h2 {
  font-family: 'Londrina Outline', cursive;
  color: limegreen;
  }
  .getstarted {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
  }
}

.overlay {
  background-color: lightgrey;
}

.footer {
  background-color: lightgrey;
  // position: absolute;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
}

//DASHBOARD
#dashSideBar {
 display: inline;
 float: left;
 padding-right: none;
 padding-top: 10%;
}
#mainDash{
  display: inline;
  float: right;
}
#veggieChoices {
  background-color: #7AA9DD;
  border-radius: 10px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  padding-top: 5%;
}
.veggieDetails {
  padding-top: 10%;
  background-color: #50c878;
  border-radius: 10px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  padding-top: 5%;
}

.stoplightbox {
  border: 1px solid black;
  width:150px;
  height: 150px;
}
.green {
  background-color: #50c878;
  content: "Adequate Level!!"
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}

.low:after {
  content: "Low level!!"
}
.toohigh:after {
  content: "Too high!!"
}
//GRAPHS
// (function (ChartJsProvider) {
//   ChartJsProvider.setOptions({ colors : [ '#803690', '#00ADF9', '#DCDCDC', '#46BFBD', '#FDB45C', '#949FB1', '#4D5360'] });
// });
