// font-family: 'Raleway', sans-serif;
// font-family: 'Noto Sans', sans-serif;
// font-family: 'Londrina Outline', cursive;
// font-family: 'Questrial', sans-serif;

html {
  position: relative;
   min-height: 100%;
}
body {
  margin: 0 0 100px;
}
#sproutomatic {
  display: inline-block;
  font-size: 30px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}
ul { float: right;
  li {
    display: inline-block;
    float: left;
    font-weight: bold;
    font-size: 15px;
    color: black;
    font-family: 'Raleway', sans-serif;
  }
}
.main-container {
  height: 550px;
  text-align: center;
  background-image: url(/images/gardening.jpg);

  // h1 {
  //   padding-top: 5%;
  //   font-family: 'Baloo Tamma', cursive;
  //   color: #fff;
  //   opacity: 1;
  // }
  h1{
  //font-family: 'Sigmar One';

  font-family: 'Londrina Outline', cursive;
  font-size: 50px;
  padding-bottom: none;
  color: white;
  font-weight: bold;
  padding-top: 5%;

  }
  h2 {
    color: black;
     font-family: 'Raleway', sans-serif;
    font-size: 40px;
    opacity: 1;
    // font-family: 'Baloo Tamma', cursive;
    // font-family: 'Sigmar One';
    font-weight: bold;
    padding-top: 2%;
    padding-bottom: 3%;
  }
  .getstarted {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
  }
}


.footer {
  background-color: lightgrey;
  position: absolute;
  left: 0;
   bottom: 0;
   height: 50px;
   width: 100%;
  padding: 1rem;
  font-family: 'Noto Sans', sans-serif;
  text-align: center;

}

//DASHBOARD
#dashSideBar {
 display: inline;
 float: left;
 padding-right: none;
 padding-top: 10%;
font-family: 'Raleway', sans-serif;
}
#mainDash{

  display: inline;
  float: right;
 font-family: 'Raleway', sans-serif;
 height: 80%;
 overflow-x: scroll;

}
#veggieChoices {
  background-color: #7AA9DD;
  border-radius: 10px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  padding-top: 5%;
}
.veggieDetails {
  padding-top: 10%;
  background-color: #50c878;
  border-radius: 10px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  padding-top: 5%;
}

.stoplightbox {
  border: 1px solid black;
  width:150px;
  height: 150px;
  border-radius: 20px;
}
.green {
  background-color: #50c878;
  content: "Adequate Level!!"
}
.red {
  background-color: red;
}
.yellow {
  background-color: #ffe135;
}

.low {
  background-color: red;
  // content: "Low level!!"
}
.high {
  background-color: red;
  // content: "Too high!!"
}

.product-container {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  h1 {
    font-family: 'Raleway', sans-serif
  }
  h2 {
  font-family: 'Raleway', sans-serif;
  color: limegreen;
  }
  p {
    width: 70%;
    margin: 0 auto;
    color: #0080ff;
  }

  .herbs {
   padding-top: 3%;
   padding-top: 3%;
   img {
     height: 500px;
     width: 700px;
   }
  }
}

#sensordatatable {
   overflow-x: hidden; /*<---*/
    overflow-y: scroll; /*<---*/
}
