<div id="main-nav-wrapper" class="container">
 <div class="inside">
   <nav>
     <div class="main-logo-wrapper">
       <a href="/" id="sproutomatic"><span class='glyphicon glyphicon-grain'></span>Sproutomatic</a>
     </div>

     <ul class="nav navbar-nav-right">
       <li><a ng-href="/our-product">Our Product</a></li>
       <li><a ng-href="/the-company">The Company</a></li>
       <li><a ng-href="/we-solve">We Solve</a></li>
       <!-- <li><a href="/login" class="more">Login</a></li> -->
       <li class="signup"><a class="trial-trigger standard-trigger btn btn-default btn-sm" href="/login">Sign In</a></li>
     </ul>
   </nav>
 </div>
</div>
